@import 'styles/theme.module';

.root {
  display        : flex;
  flex-direction : column;
  margin-bottom  : 16px;
}

.header {
  display         : flex;
  justify-content : space-between;
  margin-bottom   : 8px;
}

.heading {
  color : $secondary;
  font  : $h5;
}

.input {
  border        : 1px solid $grey-medium;
  border-radius : 5px;
  box-sizing    : border-box;
  color         : $secondary;
  font          : $h3;
  height        : 45px;
  padding       : 8px 16px;

  &:focus-visible, &:focus {
    box-shadow  : $box-shadow-focus;
    caret-color : $secondary;
    outline     : none;
  }
}

.hasError {
  border : 1px solid $error;
}

.error {
  color : $error;
  font  : $h5;
}


