@import 'styles/theme.module';

.root {
  background-color : $primary;
  border-radius    : 10px;
  color            : $white;
  font             : $h2;
  height           : 38px;
  width            : 150px;

  &:hover {
    box-shadow : $box-shadow;
    cursor     : pointer;
    transform  : translateY(-1px);
  }
}
