@import 'styles/theme.module';

.root {
  display        : flex;
  flex-direction : column;
  height         : 100%;
  width          : 100%;
}

.header {
  align-items      : center;
  background-color : $grey-light;
  border           : 1px solid $grey-medium;
  color            : $grey-dark;
  display          : flex;
  font             : $h3;
  height           : 50px;
  padding          : 0 24px;
}

.body {
  max-height : 550px;
  overflow-y : auto;
  width      : 100%;
}

.row {
  align-items : center;
  border      : 1px solid $grey-medium;
  box-sizing  : border-box;
  display     : flex;
  height      : 50px;
  padding     : 0 24px;

  & > td:nth-child(1) {
    color         : $secondary;
    font          : $h3;
    overflow      : hidden;
    text-overflow : ellipsis;
    width         : 125px;
  }

  & > td:nth-child(2) {
    color         : $grey-dark;
    font          : $h4;
    margin-left   : 32px;
    overflow      : hidden;
    text-overflow : ellipsis;
  }

  & > td:nth-child(3) {
    margin-left : auto;
  }

  &:hover {
    background-color : $primary-hover;
  }
}

.listButton {
  height       : 38px;
  margin-right : -16px;
  transform    : scale(1.25);
  width        : 38px;

  &:hover {
    cursor : pointer;

    & > svg {
      fill : $primary;
    }
  }
}

.rowNoUsers {
  align-items : center;
  color       : $grey-dark;
  display     : flex;
  font        : $h3;
  height      : 50px;
  padding     : 0 24px;
}

.rowIcon {
  fill : $grey-dark;
}
